{% extends 'base.html' %}

{% block title %} | Register {% endblock %}

{% block content %}

{% load static %}

<div class="container">
    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({% static 'img/hero-banner-alt.jpg' %})">
      <div class="container py-5">
        <div class="row px-4 px-lg-5">
            {% include 'includes/messages.html' %}
          <div class="col-lg-6">
            <section class="signin-page account">
                <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                    <div class="block text-center">
                        <h2 class="text-center">Create Your Account</h2>
                        <form class="text-left clearfix" action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="firstname" class="form-control"  placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastname" class="form-control"  placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control"  placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control"  placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control"  placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm_password" class="form-control"  placeholder="Confirm Password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Register</button>
                        </div>
                        </form>
                        <p class="mt-20">Already hava an account ?<a href="{% url 'login' %}"> Login</a></p>
                    </div>
                    </div>
                </div>
                </div>
            </section>
          </div>
        </div>
      </div>
    </section>
</div>


{% endblock %}